.home__warp {
  width: 100%;
  display: flex;
  flex-direction: row;
  //margin-top: 60px;
  .home_menu {
    border-right: 1px solid rgba(224,224, 224, 0.1);
    background-color: $bg;
    position: fixed;
    width: 72px;
    min-height:100%;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      li {
        padding:14px 0px;
        i {
          width: 100%;
          height: 40px;
          font-size: 24px;
        }
      }
    }
    //display: grid;
    //gap: 20px;
    //grid-template-columns: repeat(4, minmax(0,1fr));
  }
  .home__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 74px;
  }
}
