.container {
  //margin-top: 56px;
  padding: 0;
  width: 100%;
  border: 0;
  display: flex;
  flex-direction: row;
  .home__warp {
    margin-top: 56px;
    .home_menu {
      position: fixed;
      width: 72px;
      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        i {
          width: 100%;
          height: 46px;
          font-size: 24px;
          text-align: center;
          padding: 14px 0px;
        }
      }
      //display: grid;
      //gap: 20px;
      //grid-template-columns: repeat(4, minmax(0,1fr));
    }
    .home_video {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 74px;
    }
  }
}
