.search__warp {
  display: flex;
  flex-direction: column;
  margin:0px 74px;
  .search__result {
    font-size: 25px;
    font-weight: 250;
    padding: 15px 0px;
    color: rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
    .search__icon {
      margin: 0px 5px;
    }
  }
  .search__content {
    margin-top:15px;
  }
}