.watch__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.watch__container-left {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin:30px 0px 0px 25px;
  .video__data {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    .video__title {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .video__info {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(236, 236, 236, 0.55);
      .video__query {
        font-size: 12px;
      }
      .video__createdAt {
        font-size: 12px;
      }
    }
    .video__owner {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;
      font-size: 14px;
      justify-content: space-between;
      .video__owner-left{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      a {
        cursor: pointer;
        color: cornflowerblue;
        text-decoration: none;
      }
      .video__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 5px 10px;
        background-color: white;
      }
    }
  }
  .video__add-comments {
    width: 100%;
    margin: 20px 0px;
    form {
      all: unset;
      display: flex;
    }
    textarea {
      all: unset;
      width: 90%;
      height: 30px;
      resize: none;
      //resize: both;
      font-size: 16px;
      padding: 10px;
      margin-right: 8px;
      overflow-y: hidden;
      border-bottom: 1px solid white;
    }
    button {
      margin: 10px 0px;
      height: 35px;
      background-color: rgb(236, 236, 236);
      border-radius: 5px;
      border: 1px solid rgb(236, 236, 236);
    }
  }
  .video__comments {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    .video__comment {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-radius: 9999px;
      background-color: white;
      color: black;
      margin-bottom: 10px;
    }
    .video__comment i {
      cursor: pointer;
    }
  }
}
.watch__container-right{
  margin:20px 15px 0px 15px;
}
