header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: $bg;
  .header__warp {
    display: flex;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
    .header__start {
      display: flex;
      align-items: center;
      .header__hmb {
        font-size: 24px;
        padding: 11px;
        //margin: 0px 14px 0px 12px;
      }
      .header__logo {
        color: $red;
        font-size: 38px;
        padding: 11px;
      }
    }
    form {
      all: unset;
    }
    .header__center {
      width:40%;
      //align-items: center;
      .search__form {
        width: 100%;
        padding:10px 25px;
        position: relative;
        border: 1px solid white;
        input {
          all: unset;
          padding: 8px 15px;
          font-size: 16px;
          color: #444;
          font-weight: 400;
          max-width: none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border: 1px solid transparent;
        }
        button {
          all: unset;
        }
      }
    }
    .header__end {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          margin-left: 30px;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
        }
        i {
          font-size: 16px;
        }
        .profile_img {
          font-size: 35px;
        }
      }
      .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
      }
      .header__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}
