//video mixin
.video-mixin {
    display: flex;
    flex-direction: column;
    margin:10px;
  .video-mixin__thumb {
    height: 140px;
    border-radius: 7px;
    width: 323px;
    height:193px;
    background-color: ivory;
  }
  .video-mixin__data {
    display: flex;
    flex-direction: row;
    //padding: 0px 15px;
    .video-mixin__data-left {
      margin-top:10px;
      text-align: center; 
      //justify-content: space-between;
      .video-mixin__avatar {
        width: 35px;
        height: 35px;
        margin: 0px 5px;
        border-radius: 50%;
        background-color: white;
        display: block
      }
     
    }
    .video-mixin__data-right {
        width:100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        word-break: break-all;
        .video-mixin__title {
            font-size: 18px;
            display: blcok;
        }
        .video-mixin__owner{
            margin-top: 5px;
            font-size: 14px;
        }
        .video-mixin__meta {
            margin-top: 5px;
            font-size: 12px;
        }
    }
  }
}
