doctype html 
html(lang="ko")
    head
        title #{pageTitle} | wetube 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        haeder
            h1=pageTitle
        main 
            block content
    include partials/footer