extends base
block content 
    form(method="POST")
        input(placeholder="Old Password", type="password", name="old")
        input(placeholder="New Password", type="password", name="newPassword")
        input(placeholder="New Password Confirmation", type="password", name="newPasswordConfirmation")
        input(value="Change Password", type="submit")