extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title",placeholder="Vidoe Title", value=video.title, required)
        input(placeholder="Description", reqiured, type="text", name = "description", minLength=20, value=video.description)
        input(placeholder="Hashtags, separated by comma.", reqiured, type="text", name = "hashtags", value=video.hashtags.join())
        input(value="Save",type="submit")