extends base
include mixins/search_video 

block content
	div.container
		div.search__warp
			div.search__result
				i.fas.fa-search.search__icon
				span 	#{keyword}	검색 결과
			div.search__content
				each video in videos 
					+video(video)
				else
					span.empty__message 비디오를 찾을 수 없습니다.
					