extends base.pug

block content
    div  
        video#preview
        button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method = "POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", accept="video/*", reqiured, id="video", name="video")
        input(placeholder="Title", reqiured, type="text", name = "title", maxLength=80)
        input(placeholder="Description", reqiured, type="text", name = "description", minLength=20)
        input(placeholder="Hashtags, separated by comma.", reqiured, type="text", name = "hashtags")
        input(type="submit", value="Upload Video")

block scripts  
    script(src="/assets/js/recorder.js")