header
    div.header__warp
        div.header__start
            a(href="#").header__left
                i.fas.fa-bars
            a(href="/").header__right
                i.fab.fa-youtube.header__logo
                span.header__title WeTube 
        div.header__center  
            form(method="GET" action="/search").search__form 
                input(placeholder="검색", name="keyword", type="text")
                i.fas.fa-search 
            
        div.header__end 
            ul
                if loggedIn
                    li
                        a(href="/videos/upload") 
                            i.fas.fa-video
                        p.arrow_box 영상 업로드
                    li
                        a(href="/users/edit")
                            i.fas.fa-user-cog 
                        p.arrow_box 프로파일 수정
                    li
                        a(href="/users/logout")
                            i.fas.fa-sign-out-alt
                        p.arrow_box 로그아웃
                    li
                        a(href=`/users/${loggedInUser._id}`) 
                            if loggedInUser.avatarUrl === NULL
                                i.fas.fa-user-circle.profile_img
                            else
                                if loggedInUser.avatarUrl
                                    if loggedInUser.avatarUrl.includes("github")
                                        img.header__avatar(src=loggedInUser.avatarUrl)
                                    else
                                        img.header__avatar(src="/" + loggedInUser.avatarUrl)
                else
                    li
                        a(href="/login")
                            span 로그인                        
                
                    li
                        a(href="/join").header__btn
                            i.fas.fa-user-alt  
                            span  회원가입
                    